Click==7.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
SQLAlchemy==1.2.13
SQLAlchemy-Utils==0.33.9
WTForms==2.2.1
Werkzeug==0.14.1
mysqlclient==1.3.13