packages:
  yum:
    mod24_ssl : []

files:
  /etc/httpd/conf.d/wsgi.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On

      <VirtualHost *:80>

      Alias /static/ /opt/python/current/app/static/
      <Directory /opt/python/current/app/static/>
      Order allow,deny
      Allow from all
      </Directory>


      WSGIScriptAlias / /opt/python/current/app/application.py


      <Directory /opt/python/current/app/>
        Require all granted
      </Directory>

      </VirtualHost>

      WSGIDaemonProcess wsgi processes=1 threads=15 display-name=%{GROUP} \
        python-home=/opt/python/run/venv/ \
        python-path=/opt/python/current/app user=wsgi group=wsgi \
        home=/opt/python/current/app
      WSGIProcessGroup wsgi

      LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined

container_commands:
  01killhttpd:
    command: "killall httpd"
  02waitforhttpddeath:
    command: "sleep 3"