commands:
  01mark_script_executable:
    command: chmod 644 install-google-chrome.sh
    cwd: /opt/python/current/app
  02install_google_chrome:
    command: sudo bash install-google-chrome.sh
    cwd: /opt/python/current/app
  03verify_install_by_taking_screenshot:
    command: google-chrome-stable --headless --disable-gpu --screenshot https://www.google.com
    cwd: ~/
    test: "[ -x screenshot.png ]"
