# Instructions adapted from:
# https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/SSL-on-amazon-linux-ami.html#lets-encrypt-alami
# https://certbot.eff.org/docs/using.html
commands:
  01enable_epel:
    command: sudo yum-config-manager --enable epel
  02download_certbot:
    command: sudo wget https://dl.eff.org/certbot-auto
    cwd: /usr/local/bin
  03take_ownership:
    command: sudo chown root certbot-auto
    cwd: /usr/local/bin
  04mark_script_executable:
    command: sudo chmod 755 certbot-auto
    cwd: /usr/local/bin
#  05install_cerbot:
#    command: |
#      sudo ./certbot-auto --non-interactive \
#        -d witnesspuzzles.com \
#        -d *.witnesspuzzles.com \
#
