:root {
    --background: rgb(88, 19, 48); /* used to be PAGE_BACKGROUND*/
    --alt-background: rgb(133, 37, 77);
    --active: rgb(119, 63, 94);
    --border: rgb(255, 255, 255);
    --outer: rgb(82, 58, 68); /* used to be OUTER_BACKGROUND*/
    --line-undone: rgb(161, 131, 147); /* used to be FOREGROUND*/
    --inner: rgb(212, 126, 166); /* used to be BACKGROUND*/
    --line-default: rgb(255, 109, 206);
    --line-success: rgb(255, 203, 235);
    --line-failure: rgba(65, 55, 60, 0);
    --cursor: rgb(255, 233, 243);
    --text: rgb(255, 255, 255);
    --line_primary: #8FF;
    --line_secondary: #FF2;
}