:root {
    --background: rgb(18, 36, 16); /* used to be PAGE_BACKGROUND*/
    --alt-background: rgb(25, 68, 34);
    --active: rgb(24, 80, 31);
    --border: rgb(255, 255, 255);
    --outer: rgb(29, 39, 29); /* used to be OUTER_BACKGROUND*/
    --line-undone: rgb(37, 70, 38); /* used to be FOREGROUND*/
    --inner: rgb(21, 121, 26); /* used to be BACKGROUND*/
    --line-default: rgb(37, 206, 80);
    --line-success: rgb(203, 255, 203);
    --line-failure: rgba(55, 65, 56, 0);
    --cursor: rgb(234, 255, 233);
    --text: rgb(255, 255, 255);
    --line-primary: #8FF;
    --line-secondary: #FF2;
}