:root {

    --background: rgb(249, 255, 227); /* used to be PAGE_BACKGROUND*/
    --alt-background: #eee;
    --active: #ddd;
    --border: #000;
    --outer: rgb(75, 85, 41); /* used to be OUTER_BACKGROUND*/
    --line-undone: rgb(99, 85, 70); /* used to be FOREGROUND*/
    --inner: rgb(177, 161, 91); /* used to be BACKGROUND*/
    --line-default: rgb(255, 206, 70);
    --line-success: rgb(255, 253, 161);
    --line-failure: rgba(65, 56, 55, 0);
    --cursor: rgb(237, 255, 233);
    --text: #000;
    --line-primary: #8FF;
    --line-secondary: #FF2;
}