:root {
    --background: rgb(209, 255, 246); /* used to be PAGE_BACKGROUND*/
    --alt-background: rgb(174, 255, 239);
    --active: rgb(152, 255, 234);
    --border: #000;
    --outer: #113833; /* used to be OUTER_BACKGROUND*/
    --line-undone: #344; /* used to be FOREGROUND*/
    --inner: rgb(0, 170, 136); /* used to be BACKGROUND*/
    --line-default: #aaa;
    --line-success: #fff;
    --line-failure: rgba(0, 0, 0, 0);
    --cursor: #fff;
    --text: #000;
    --line-primary: #8FF;
    --line-secondary: #FF2;
}