:root {
    --background: rgb(227, 255, 254); /* used to be PAGE_BACKGROUND*/
    --alt-background: #eee;
    --active: #ddd;
    --border: #000;
    --outer: rgb(41, 67, 85); /* used to be OUTER_BACKGROUND*/
    --line-undone: rgb(72, 70, 99); /* used to be FOREGROUND*/
    --inner: rgb(91, 160, 177); /* used to be BACKGROUND*/
    --line-default: rgb(70, 144, 255);
    --line-success: rgb(161, 236, 255);
    --line-failure: rgba(59, 55, 65, 0);
    --cursor: rgb(233, 252, 255);
    --text: #000;
    --line-primary: #8FF;
    --line-secondary: #FF2;
}