@font-face { src: url('Constantia.ttf'); }
label, button, select, option, input, a {
  font-family: Constantia;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 28px;
}
a { text-decoration: none }
table { margin: auto; }
.resize { position: absolute; }
input.checkbox {
  transform: scale(2) translate(0px, -3px);
  margin-right: 5px;
  cursor: pointer;
}
body { text-align: center; }

@media only screen and (min-width: 1300px) {
  .navbar { height: 60px; }
  .navbar-padding { margin-top: 60px; }
  .navbar-content { padding-top: 0px; }
}
@media only screen and (max-width: 1300px) {
  .navbar { height: 90px; }
  .navbar-padding { margin-top: 90px; }
  .navbar-content { padding-top: 30px; }
}
