@font-face {
  font-family: "Constantia-Bold";
  src: url("Constantia.eot?")  format("embedded-opentype"),
       url("Constantia.otf")   format("opentype"),
       url("Constantia.ttf")   format("truetype"),
       url("Constantia.woff2") format("woff2");
}
label, select, option, input, a, button, #symboltheme {
  font-family: "Constantia-Bold";
  font-variant: small-caps;
  font-size: 28px;
  border-radius: 0.5vw;
}

* {
  transition: all 0.5s ease-out;
}

body {
  margin: 0;
}

.title, .title > label {
  font-size: 48px;
}

p, label {
  display: inline;
  color: var(--text);
}

line, circle, polygon {
  transition: none;
}

.nav {
  background-color: transparent;
  border: 0px transparent;
}

header {
  border: 2px black solid;
  border-radius: 5px;
  align-self: center;
  display: block;
  margin: 1rem;
}

header i {
  min-width: 50vw;
}

.header-slider {
  width: calc(50% - 2rem);
  margin: 0 1rem;
}

#symboltheme {
  align-self: center;
}

#header-plus-button {
  background-color: transparent;
  border: 0px transparent;
  margin-top: 0.5rem;
}

[class*=list] {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: stretch;
}

table {
  table-layout:fixed;
}

#meta {
  max-width: calc(100vw - 4rem);
}

#x-fakebutton {
  width: 62px;
}

#x-fakewrapper {
  position: relative;
  width: 52px;
  padding: 0;
  border: 1px black solid;
  background-color: var(--alt-background);
  border-radius: 0.5vw;
  display: block;
  width: 60px;
  height: 60px;
}

#x-fakewrapper table {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 0;
  border-spacing: 0;
  margin: 0;
}

#x-fakewrapper td, #x-fakewrapper button {
  padding: 0;
  background-color: transparent;
}

#x-fakesvg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.editor-screen {
  justify-content: start;
  overflow-x: overlay;
}

.editor-puzzlebox {
  align-self: center;
  justify-content: center;
}

.vlist {
    flex-direction: column;
}

.hlist > div, .vlist > div { /* for ie compat, used to be [class$=list] > div */
    flex: 1 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: space-between;
  position: relative;
  align-items: stretch;
  min-height: 100%;
}

.metaButton-wrapper {
  justify-content: space-between;
}

#metaButtons {
  flex: 0 1 auto;
}

.spacer {
  -ms-flex: 999 1 auto !important;
  flex: 999 0 auto !important;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.main-wrapper{
  flex: 1 0 auto;
  min-height: 75vh;
}

footer {
  background-color: var(--outer);
  color: var(--inner);
}

footer i {
  color: var(--inner);
}

a { text-decoration: none; }
table { margin: auto; }
.resize { position: absolute; }
body { 
  text-align: center; 
  background-color: var(--background);
}

.loadButtonWrapper, #symboltheme {
  cursor: pointer;
}

@media only screen and (min-width: 1300px) {
  .navbar { height: 60px; }
  .navbar-padding { margin-top: 60px; }
  .navbar-content { padding-top: 0px; }
}
@media only screen and (max-width: 1300px) {
  .navbar { height: 90px; }
  .navbar-padding { margin-top: 90px; }
  .navbar-content { padding-top: 40px; }
}

/* https://stackoverflow.com/a/4407335 */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

td {
  padding: 2px;
}

/* Slider control main bar */
input[type="range"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 3px;
  height: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  outline: none;
  width: 100%;
}
/* Slider control icon */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('slider.png');
  background-size: 17px 33px;
  height: 33px;
  width: 17px;
}
input[type="range"]::-moz-range-thumb {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('slider.png');
  background-size: 17px 33px;
  height: 33px;
  width: 17px;
}
input[type="range"]::-ms-thumb {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('slider.png');
  background-size: 17px 33px;
  height: 33px;
  width: 17px;
}

.flashing {
  animation: 1s 1 forwards line-fail !important;
  animation: 0.4s 20 alternate-reverse error;
}